blocks/socials/socials-footer.html

<!-- start socials-->
<div class="socials socials_foot">
  <div class="socials__wrap socials__wrap_foot"><a href="#" data-icon="icon-vk" class="isvg"></a><a href="#" data-icon="icon-fb" class="isvg"></a><a href="#" data-icon="icon-tw" class="isvg"></a></div>
</div>
<!-- end socials-->

blocks/socials/socials-footer.jade
// start socials
//- autor: Miliutin Alexander (alexmil89)
.socials.socials_foot
	.socials__wrap.socials__wrap_foot
		a.isvg(href="#" data-icon="icon-vk")
		a.isvg(href="#" data-icon="icon-fb")
		a.isvg(href="#" data-icon="icon-tw")
// end socials
