blocks/subscribe/subscribe.html

<!-- start subscribe-->
<div class="subscribe">
  <div class="container">
    <div class="subscribe__wrap">
      <div class="subscribe__info">
        <p class="subscribe__title">subscribe</p>
        <form class="subscribe__form">
          <div class="subscribe__inputWrap">
            <input type="text" name="E-mail" placeholder="Enter email address" class="subscribe__inputSearch form-control"/>
            <button class="subscribe__button form-control"><span data-icon="icon-arrow-right" class="subscribe__iconArrow isvg"></span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end subscribe-->

blocks/subscribe/subscribe.jade
// start subscribe
//- autor: Vladislav Grigorzevsky (gradiusalisik)
.subscribe
	.container
		.subscribe__wrap
			.subscribe__info
				p.subscribe__title subscribe
				form.subscribe__form
					.subscribe__inputWrap
						input.subscribe__inputSearch.form-control(type="text" name="E-mail" placeholder="Enter email address")
						button.subscribe__button.form-control
							span.subscribe__iconArrow.isvg(data-icon="icon-arrow-right")
// end subscribe
